.button {
    border-radius: 4px;
    padding: 0.25rem;
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0.2);
    font-size: 1.1em;
    background-color: rgb(248, 201, 130);
}

.button:hover {
    background-color: rgb(253, 193, 104);
}